
    .contenedor{
        /* display:flex; */
        flex-direction: column;
        height: 600;
        background-color: whitesmoke;
}
    .contenedor .contenedor-juego{
        display: flex;
        justify-content: space-between;
    
    }
    .contenedor-juego{
        /* margin: 10px; */
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        background-color: #e3e4e4;
    }
    
    .contenedor .imagenes_juegos{
            display: flex;
            flex-direction: column;
            background-color:white;
    }
            
           .contenedor > .imagenes_juegos {
                background-color: #f1f1f1;
                width: 100px;
                margin: 10px;
                text-align: center;
                line-height: 75px;
                font-size: 30px;
              }
              .imagenes_juegos{
                  justify-content:space-between;
                  width: 160px;
                  height: 250px;
              }

              /* .hr{
                height: 20px;
                width: 50px;
                border-width: 2px;
                border-top-width: 2px;
                border-right-width: 2px;
                border-bottom-width: 2px;
                border-left-width: 2px;
                background-color: black;
              }
       */