@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tfsn95');
  src:  url('fonts/icomoon.eot?tfsn95#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tfsn95') format('truetype'),
    url('fonts/icomoon.woff?tfsn95') format('woff'),
    url('fonts/icomoon.svg?tfsn95#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\fac";
}
.icon-facebook:before {
  content: "\face";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-Linux:before {
  content: "\eabd";
}
.icon-apple:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
